{# Plantillla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{# TITULO #}
{% block titulo %}
Calendario
{% endblock %}
{# CONTENIDO #}
{% block contenido %}

    <!-- Page Content -->
    <div class="container">
      
      <!-- Image Header -->
    <img class="img-fluid rounded mb-4" src="https://www.asindown.org/wp-content/uploads/2018/06/IMG_0642.jpg" 
    alt="" width="1900px" height="1080px">
    
    </div>
      
{% endblock %} 