{# Plantillla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{# TITULO #}
{% block titulo %}
Pagina principal
{% endblock %}
{# CONTENIDO #}
{% block contenido %}

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Mi Movil
        <small>Introduccion</small>
      </h1>
      
      <img class="img-fluid rounded mb-4" src="{{ asset('img/FotoPortada.jpg') }}" alt="" width="1300" height="50">

      </div>
      
      
{% endblock %} 