{# Plantillla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{# TITULO #}
{% block title %}
Links
{% endblock %}
{# CONTENIDO #}
{% block body %}
<a href="../listadoProfesor"><img src="https://pbs.twimg.com/profile_images/948465845910560768/GPDAPl8K.jpg" class="img"></a>
<a href="../listadoPrograma"><img src="https://www.cev.com/wp-content/uploads/2017/09/alumos-slider-MOVIL.jpg" class="img"></a>
{% block stylesheets %}
<style>
.img{width:49.5%; height:300px; text-align:center;}
</style>
{% endblock %}
{% endblock %}
